#main-content {
    width: 65vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: 	#E8E8E8;
}

#main-content-left {
    padding: 0;
    border: 1px solid #D3D3D3;
}

#filmInfo {
    border-right: 1px solid #D3D3D3;
    padding: 0;
}

#textualInfo {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.pad {
    margin-left: 15px;
    margin-right: 15px;
}

#filmInfo h4 {
    margin-bottom: 5px;
}

.staff h4 {
    margin-top: 20px;
}

#Director h4 {
    margin-top: 0;
}

#textualInfo ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#textualInfo li {
    padding-left: 1em;
    text-indent: -1em;
}

#textualInfo li:before{
    content: "»";
    padding-right: 5px;
    margin-left: 14px;
}
