#main-content {
    width: 65vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: 	#E8E8E8;
}

@media screen and (max-width: 800px) {
    #main-content {
        width: 100vw;
    }
}

@media screen and (max-width: 1000px) and (min-width: 801px) {
    #main-content {
        width: 75vw;
    }
}

#main-content-left {
    padding: 0;
    border: 1px solid #D3D3D3;
}

.float-left {
    float: left;
}


.float-right {
    float: right;
}

#film-header {
    position: relative;
}

#film-header h2 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 0;
    padding-left: 15px;
    text-decoration: underline;
    display: inline-block;
    margin-top: 1vh;
}

#release-year {
    font-size: 16px;
}

#film-header h4 {
    position: absolute;
    bottom: 0;
    right: 15px;
    margin: 0;
}

#film-header .glyphicon {
    color: #B8860B;
    margin-left: 0;
    font-size: 22px;
}

#film-header button {
    padding-left: 0;
    border: none;
    background-color: inherit;
}

#rating {
    font-size: 22px;
}

#movie-details {
    font-family: "Helvetica Neue";
    font-size: 19px;
    margin-top: 5px;
}

#movie-details p {
    margin-bottom: 0;
}

#details {
    padding-left: 15px;
}

#genres {
    padding-right: 15px;
}

#basic-info {
    background-color: #D3D3D3;
}

#backdropImg {
    width: 100%;
    padding: 1vh 1vw 0 1vw;
}

#description {
    margin-top: 13px;
    padding-right: 5px;
    width: 90%;
}

#filmInfo {
    border-right: 1px solid #D3D3D3;
    padding: 0;
}

#textualInfo {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

hr {
    border-color:	#505050;
}

.pad {
    margin-left: 15px;
    margin-right: 15px;
}

#filmInfo h4 {
    margin-bottom: 5px;
}

.staff h4 {
    margin-top: 20px;
}

#Director h4 {
    margin-top: 0;
}

#textualInfo ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#textualInfo li {
    padding-left: 1em;
    text-indent: -1em;
}

#textualInfo li:before{
    content: "»";
    padding-right: 5px;
    margin-left: 14px;
}

.blockquote {
    background-color: 	#F5F5F5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    max-height: 50vh;
    overflow: auto;
}

#videos {
    padding-left: 10px;
    top: 0;
    -webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0);
    position: sticky;
    position: -webkit-sticky;
}

#videoList {
    max-height: 80vh;
    overflow-y: auto;
}

.fancy-scrollbar::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
.fancy-scrollbar::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
.fancy-scrollbar::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
.fancy-scrollbar::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

#videos h1 {
    margin-top: 10px;
    text-align: center;
    font-family: "Helvetica Neue";
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    margin-bottom: 2vh;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.important-title {
    text-align: center;
    font-size: 34px;
}

.cast-member {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cast-member {
    text-align: center;
    width: 50%;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;

    border-radius: 8px;
    border: 1px solid #484848;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: 	#505050;
    display: inline-block;
}

.cast-member:hover, .cast-member:focus {
    color: black;
    text-decoration: none;
}

.cast-member h2 {
    font-size: 22px;
}

.cast-member h2:last-child {
    margin-top: 0;
}

.cast-member h4 {
    margin-top: 0;
    margin-bottom: 10px !important;
}

.cast-member img {
    width: 70%;
    border-radius: 15px;

    margin-top: 2vh;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-arrow {
    z-index: 999;
}

.slick-arrow::before {
    color: #696969 !important;
}

.slick-prev {
    left: 0 !important;
}

.slick-next {
    right: 0 !important;
}

.slick-slide {
    margin: 0 27px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -27px;
    padding-top: 1.5vh !important;
    padding-bottom: 1.5vh !important;
  }
