#main-content {
    width: 65vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: 	#E8E8E8;
}

#episodes {
    margin-top: 0.6vh;
    padding-top: 0.6vh;
    padding-left: 15px;
    border-top: 1px solid #585858;
    position: relative;
}

#episodes:hover {
    background-color: #1aa8cd;
    cursor: pointer;
}

#episodes p {
    margin-bottom: 0;
    font-weight: 600;
}

#arrow {
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1vw;
}

#textualInfo {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
